body {
    background:#fffeb3 ;
    font-family: Arial, Helvetica, sans-serif;
}

main, header, footer {
    background: #6fcb9f;
    padding: 20px;
}

.image {
    box-shadow: 2px 2px 3px #292929;
    border-radius: 10px;
}

.header-nav {
    width: 100%;
    background: #6fcb9f;
    margin-bottom: 1em;
    padding-top: 10px;
    padding-bottom: 30px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-item {
    flex:1 0 auto;
}

.nav-page {
    display: block;
    /*width: 60px;*/
    background-color: #ffe28a;
    border-color: #ffe28a;
    text-align: center;
    text-decoration: none;
    padding:10px 0;
    margin: 5px;
}

.nav-page:hover {
    font-weight: bold;
    background-color: #fffeb3;
}

.nav-page:active {
    color: #fb2e01;
} 