body {
    background:#fffeb3 ;
    font-family: Arial, Helvetica, sans-serif;
    margin:25px;
}

main, header{
    background: #6fcb9f;
    padding: 20px;
    text-align: center;
}

footer {
    background: #666547;
    padding: 20px;
}

form {
    padding: 20px;
}

ul {
    list-style-position: inside;
}

p {
    padding:20px;
}

.image {
    box-shadow: 2px 2px 3px #292929;
    border-radius: 10px;
    width:50%;
    height:auto;
}

.header-nav {
    width: 100%;
    background: #6fcb9f;
    padding-top: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.nav-item {
    flex:1 0 auto;
}

.nav-page {
    display: block;
    /*width: 60px;*/
    background-color: #ffe28a;
    text-align: center;
    text-decoration: none;
    padding:20px;
    margin: 40px;
}

.nav-page:hover {
    font-weight: bold;
    background-color: #fffeb3;
}

.nav-page:active {
    color: #fb2e01;
}

.styled-table {
    border-collapse: collapse;
    margin:100px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: auto;
    box-shadow: 0 0 20px #292929;
}

.styled-table thead tr{
    background-color: #ffe28a;
    text-align: left;
    border-bottom: 2px solid #666547;
}

.styled-table tbody tr {
    background-color: #fffeb3;
    border-bottom: 1px solid #666547;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffe28a;
    text-align: left;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #666547;;
}

#linkedin{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

#github{
    width: 100px;
    height: auto;
    border-radius: 5px;
}